<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>chapter31</title>
    <link rel="stylesheet" href="./styles/style4book.css"/>
</head>

<body>
  <div></div>
  <div></div>
  <div></div>
  <script src="./scripts/d3.v4.min.js"></script>
    <script>
      var data = [10, 15, 30, 50, 80, 65, 55, 30, 20, 10, 8]; // <- A
      function render(data) {
          var bars = d3.select("body").selectAll('div.h-bar')
                    .data(data); // 更新
          // 进入
          bars.enter()
            .append('div')
                .attr('class', 'h-bar')
            .merge(bars) // 进入并更新
                .style('width', function(d) {
                    return (d * 3) + 'px';
                })
                .text(function(d) {
                    return d;
                });
        // 退出
        bars.exit()
                .remove();
      }
      setInterval(() => {
          data.shift();
          data.push(Math.random(Math.random() * 100));
          render(data);
      }, 1500);
      render(data);
    </script>
</body>

</html>