<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>jsonD3</title>
  <style>
    code {
      color: #ff66bb;
    }
  </style>
</head>

<body>
  <h1>欢迎，这里是Uct8086的学习实战项目代码</h1>
  <hr>
  <h2>/view/learn</h2>
  <p>D3 4.X 数据可视化实战手册随书代码实现</p>
  <h3>访问</h3>
  <code>localhost:8082/chapter21.html</code>
  <h2>/view/trueProj</h2>
  <p>实际开发中例子实现</p>
  <h3>访问</h3>
  <code>localhost:8082/true-bar-y.html</code>
</body>

</html>